# 简单绘图练习
绘制2020年1月1日至今紫光国微收盘价折线图。

In [1]:
import akshare as ak
import matplotlib.pyplot as plt

In [2]:
%matplotlib widget

## 数据准备

我们通过AKSare库获得数据
- 接口: stock_zh_a_daily
- 目标地址: https://finance.sina.com.cn/realstock/company/sh600006/nc.shtml(示例)
- 描述: A 股数据是从新浪财经获取的数据, 历史数据按日频率更新
- 限量: 单次返回具体某个 A 上市公司的所有历史行情数据

In [3]:
df = ak.stock_zh_a_daily(symbol="sz002049")

In [4]:
df.head()

            open  high   low  close    volume
date
2005-06-06  6.41  7.16  6.30   7.00  12611462
2005-06-07  6.79  7.50  6.76   7.36   9888515
2005-06-08  7.20  8.10  7.20   8.10   8311996
2005-06-09  8.10  8.91  8.00   8.91   6736784
2005-06-10  9.08  9.80  8.81   9.38   8483341

In [5]:
close = df.loc['2020-01-01':,'close']

In [9]:
fig, ax = plt.subplots()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [7]:
ax.plot(close)

In [8]:
ax.set(xlabel="周期（日）", ylabel="价格（元）",
      title='老铁们，揍是这么简单')

[Text(63.652777777777786, 0.5, '价格（元）'),
 Text(0.5, 32.902777777777764, '周期（日）'),
 Text(0.5, 1, '老铁们，揍是这么简单')]

In [16]:
ax.cla()

In [24]:
ax.plot(close.index, close.values)