# 数据分析实践-手机

1. 数据调查
2. 外形分析

In [5]:
import requests
import pandas as pd

In [3]:
urlb = r'https://club.jd.com/comment/productCommentSummaries.action?referenceIds='

In [81]:
fn = 'phone_data2.csv'
#df = pd.read_csv(fn)

# 1.
获取SKU对应的json

### 1.1. 从CSV读取SKU

希望它是字符串，可它是float64
> read_csv : dtype={'SKU':str}

删除nan
> Series.dropna()

In [82]:
df = pd.read_csv(fn, dtype={'SKU':str})

In [84]:
r = requests.get( urlb + ','.join(df['SKU'].dropna().values) )

### 1.2. 读JSON

将字典写入Serial，SkuId作为Index，CommentCount

In [39]:
import json

In [85]:
d = json.loads(r.text)

In [94]:
i,v = list(zip(* [[str(i['SkuId']), i['CommentCount']] for i in d['CommentsCount']] ))

In [93]:
type(d['CommentsCount'][0]['SkuId'])

int

In [95]:
pd.Series(v, index=i, name='评价')

100008348542    2328669
100008348510     303550
100008348548     360342
100006945233     165195
100012816020      34528
100011199522     273703
100011351676     116136
100007356487      16132
100013240074      11892
100012015170     189853
100004404916     789130
100000745034     175665
100006604003     162628
100012820028     110455
Name: 评价, dtype: int64

In [96]:
idf = df[['SKU','0604价格']].dropna().set_index('SKU')

In [99]:
pd.concat([idf, pd.Series(v, index=i, name='评价')], axis=1)

              0604价格       评价
SKU
100008348542  5499.0  2328669
100008348510  8799.0   303550
100008348548  9299.0   360342
100006945233  3799.0   165195
100012816020  2299.0    34528
100011199522  3999.0   273703
100011351676  4999.0   116136
100007356487  6999.0    16132
100013240074  7999.0    11892
100012015170  6488.0   189853
100004404916  3288.0   789130
100000745034  1199.0   175665
100006604003  2399.0   162628
100012820028  2598.0   110455