In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [7]:
%matplotlib widget
matplotlib.rcParams['font.family'] = ['DengXian', 'sans-serif']

In [2]:
fn = 'phone_data2.csv'
df = pd.read_csv(fn)
c = df['CPU'].astype('category')

In [3]:
widths  = [4, 1]
heights = [5, 1]
gs_kw   = dict(width_ratios=widths, height_ratios=heights)

In [8]:
fig, axes = plt.subplots(ncols=2, nrows=2, constrained_layout=True,
                             gridspec_kw=gs_kw, figsize=(4,7))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

### enumerate(iterable, start=0)

> Return an enumerate object. iterable must be a sequence, an iterator, or some other object which supports iteration. The __next__() method of the iterator returned by enumerate() returns a tuple containing a count (from start which defaults to 0) and the values obtained from iterating over iterable.

**enumerate**函数的返回值是enumerate对象。:-)

就是给list等迭代器的每个元素加一个序号。

In [9]:
for i in range(len(c.cat.categories)):
    axes[0,0].scatter('宽', '长', s = '重', c = 'C%d' % (i+1), alpha = 0.5, 
               data = df[df['CPU'] == c.cat.categories[i]],
               label = c.cat.categories[i])

In [10]:
axes[0,0].set_xlim(0, 100)
axes[0,0].set_ylim(0, 200)

(0.0, 200.0)

In [11]:
axes[0,0].set_aspect('equal', 'box')

----

In [46]:
df.head()

,brand,厂牌,SKU,name,0604价格,CPU,长,宽,厚,重,屏,分辨率长,分辨率宽,屏幕类型,ppi,上市时间
0,apple,苹果,1.000083e+11,11,5499.0,A13,150.90,75.70,8.30,194.0,NaN,NaN,NaN,NaN,NaN,NaN
1,apple,苹果,1.000083e+11,11 pro,8799.0,A13,144.00,71.40,8.10,188.0,NaN,NaN,NaN,NaN,NaN,NaN
2,apple,苹果,1.000083e+11,11 Pro max,9299.0,A13,158.00,77.80,8.10,226.0,NaN,NaN,NaN,NaN,NaN,NaN
3,apple,苹果,1.000069e+11,SE2,3799.0,A13,138.40,67.30,7.30,148.0,NaN,NaN,NaN,NaN,NaN,NaN
4,mi,小米,1.000128e+11,10 青春版,2299.0,骁龙765G,164.02,74.77,7.88,192.0,NaN,2400.0,1080.0,NaN,NaN,NaN

In [49]:
df['厂牌'] + df['name']

0             苹果11
1         苹果11 pro
2     苹果11 Pro max
3            苹果SE2
4         小米10 青春版
5             小米10
6         小米10 Pro
7          小米Max 2
8         三星S20 5G
9        三星S20 5G+
10       华为P40 Pro
11           华为P30
12        华为畅享 MAX
13           荣耀30S
14        iQOONeo3
dtype: object

In [12]:
#axes[1,0].cla()
axes[1,0].stem(df['厂牌'] + df['name'], df['厚'], markerfmt='o', use_line_collection=True)

In [13]:
axes[1,0].set_ylim(7,9.5)

(7.0, 9.5)

In [52]:
df['厚']

0     8.30
1     8.10
2     8.10
3     7.30
4     7.88
5     8.96
6     8.96
7     7.60
8     7.90
9     7.80
10    8.95
11    7.57
12    8.48
13    8.58
14    8.93
Name: 厚, dtype: float64